@import "icons/icono.min.css";
/* https://saeedalipoor.github.io/icono/ */

.bottomPlayer:focus{
  outline: none;
}

.playerbtn,.playerbtn:hover, .playerbtn:active {
	background-color:transparent;
	-moz-border-radius:50%;
	-webkit-border-radius: 50%;
	border-radius:50%;
  border: none;
  outline:none;
  color: aliceblue;
}

.artimg{
  width: 50px;
  height: 50px;
}

.player{		
	background-color: #042020;
}
.bottomPlayer{
  bottom: 0;
  position: fixed;
  width: 100%;
  margin: 0px;
}
.bottomPlayer:focus, .bottomPlayer:hover, .bottomPlayer:active {
  outline: none;
}

.controls{
  top: 17px;
  position: absolute;
  padding-left: 50px;
}
.controlBox{
  padding-left: 5px;
}
.divin{
	display: inline;
  margin: 5px;
  color: aliceblue;
}
.title{
  white-space: nowrap;
  font-size: 12px;
  color: aliceblue;
}
.titlediv{
	height: 20px;
	width: 300px;
  overflow: hidden;	
  padding-left: 10px;
}

/* marquee start */

.marquee {
  height: 10px;
  width: 200px;

  overflow: hidden;
  position: relative;
}

.marquee {
  display: block;
  width: 200%;
  height: 30px;
  overflow: hidden;
  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
/* marquee end */

  
.slider {
  position: relative;
  display: inline-block;
  margin: -4px 6px 0 0;
  width: 100%;
}
/* Input ------------------- */

input[type=range].seekslider {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: tomato;
    height: 10px;
    width: 10px;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px; /* 1 */
    height: 10px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw rgb(96, 219, 25);
    border: none; /* 1 */
}

::-moz-range-track {
    height: 10px;
    background: tomato;
}

::-moz-range-thumb {
    background: #fff;
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw  rgb(96, 219, 25);
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background:  rgb(96, 219, 25);
    height: 10px;
    width: 10px;
}

::-ms-thumb { 
    background: #fff;
    border: none;
    height: 10px;
    width: 10px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 10px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}



/* volume */

input[type=range].volume  {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 10px;
  width: 100px;
  cursor: pointer;
  border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
  background: tomato;
  height: 10px;
  width: 10px;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
*/
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px; /* 1 */
  height: 10px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw rgb(96, 219, 25);
  border: none; /* 1 */
}

::-moz-range-track {
  height: 10px;
  background: tomato;
}

::-moz-range-thumb {
  background: #fff;
  height: 10px;
  width: 10px;
  border: none;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw  rgb(96, 219, 25);
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background:  rgb(96, 219, 25);
  height: 10px;
  width: 10px;
}

::-ms-thumb { 
  background: #fff;
  border: none;
  height: 10px;
  width: 10px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 10px;
  border: none;
}

::-ms-tooltip { 
  display: none;
}

